In [9]:
#Create one variable containing following type of data:  string,  list,  float , tuple

a = ["himani" , 3.4 , 4, 5, ["hima", 4.3, 6] , (2,2,3,9,4,3) ]
print(type(a))
for i in a :
    print(i)
    print(type(i))

<class 'list'>
himani
<class 'str'>
3.4
<class 'float'>
4
<class 'int'>
5
<class 'int'>
['hima', 4.3, 6]
<class 'list'>
(2, 2, 3, 9, 4, 3)
<class 'tuple'>

In [18]:
#Q2. Given are some following variables containing data: (i) var1 = ‘ ‘ , (ii) var2 = ‘[ DS , ML , Python]’
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
#(iv) var4 = 1. What will be the data type of the above given variable.

var1 =' '
print(type(var1))
var2 =  '[ DS , ML , Python]'
print(type(var2))
var3 = ['DS' , 'ML' , 'Python']
print(type(var3))
var4 = 1
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [24]:
#Q3. Explain the use of the following operators using an example: (i) / (ii) % (iii) // (iv) **
a = 10
b = 2

print(a / b)  #it is division operator
print(a % b)  #it is modulus operator
print (a // b) #it is division floor operator
print( b**3) # it is power operator

5.0
0
5
8

In [1]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

l = [ 5.6, 3,4, "himani", (3,9,6,7), "manral", 65,34, 45.8, True]
for j in l :
    print(j)
    print(type(j))

5.6
<class 'float'>
3
<class 'int'>
4
<class 'int'>
himani
<class 'str'>
(3, 9, 6, 7)
<class 'tuple'>
manral
<class 'str'>
65
<class 'int'>
34
<class 'int'>
45.8
<class 'float'>
True
<class 'bool'>

In [3]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#divisible by 3 or not.

l  = [ 23, 9 , 20, 3, 15, 45, 78,5, 25, 27, 8, 6]

for j in l :
    print(j)
    if j%3==0:
        print("yes")
    else :
        print("no")

23
no
9
yes
20
no
3
yes
15
yes
45
yes
78
yes
5
no
25
no
27
yes
8
no
6
yes

In [4]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing
#this property.

#Answer - Mutable data types are those data type which allow users to change the element for example list data type.
#Imutable data types are those data type which doesn't allow users to change its elements for example string.  

l = [3, 4, 6, "man"]
l[2] = 8
print(l)

[3, 4, 8, 'man']

In [5]:
s = "himani"
s[2] = 'a'

TypeError: 'str' object does not support item assignment

In [ ]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can
#be divisible.

a = 20
b = 10
print (a)
print(b)

while a%b == 0 :
        print("yes it is purely divisible by b")
        break